*{
    padding: 0;
    margin: 0;
    border: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-search{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.search-bar{
    position: absolute;
    right: 0px;
    text-align: end;
    margin-right: 2vw;
}
.search-bar input{
    border-radius: 15px;
    padding: 3px;
    font-size: 1.1vw;
    padding-left: 10px;
    outline: none;
    cursor: pointer;
}
.search-bar input:hover{
    border: 2px, solid, #ff7700;
}
.search-bar i{
    border: none;
    outline: none;
    font-size: 1.4vw;
    cursor: pointer;
}
.search-bar i:hover{
    color: #ff7700;
}
.selection{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   row-gap: 1.5vw; 
}
.catte-list{
    border-radius: 15px;
    padding: 0.1vw;
    font-size: 1.1vw;
    border: 2px, solid, black;
    cursor: pointer;
}
.catte-list:hover{
    border: 2px, solid, #ff7700;
}
.seached-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe-details{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    background-color: #f18220;
    justify-content: space-between;
    width: 85.5%;
    margin-left: 4.75%;
    margin-right: 4.75%;
    row-gap: 1.5vw;
}
.recipe-details-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe-name {
    font-size: 2.5vw;
    font-weight: bold;
}
.recipe-details-head i{
    font-size: 1.7vw;
    cursor: pointer;
}
.image-details{
    display: flex;
    justify-content: space-between;
}
.image-details img{
    width: 53%;
    border-radius: 20px;
}
.intro{
    width: 45%;
    margin-top: 1%;
    text-align: justify;
}
.ingridients p{
    font-size: 1.7vw;
    text-align: justify;
}
.ingridients pre{
    font-size: 1.1vw;
}
.procedure{
    font-size: 1.7vw;
}
.procedure-details{
    font-size: 1.1vw;
    text-align: justify;
}
.thankyou{
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}